.containerCarrousel {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
}

.carrousel {
    display: flex;
    height: 100%;
    width: 70%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mainTitle {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.mainTitle h1 {
    transform: scale(3);
    font-family: "Permanent Marker", cursive;
}

.containerDaily {
    display: block;
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
}

.dailyTitle {
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    margin-top: 150px;
}

.daily {
    display: grid;
}

.dailyImg {
    display: flex;
    grid-column: 1;
    height: 100%;
}

.dailyDesc {
    display: flex;
    grid-column: 2;
    height: 100%;
}

form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 200px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #07051a;
    color: white;
}
