body{
    background: linear-gradient(to right, #0750af, #5490df, #4486dd);
    z-index : -1;
}

.containerCarrousel {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
}

.carrousel {
    display: flex;
    height: 100%;
    width: 70%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mainTitle {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.mainTitle h1 {
    transform: scale(3);
    font-family: "Permanent Marker", cursive;
    color:white;
}

.containerDaily {
    display: block;
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
}

.dailyTitle {
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    margin-top: 150px;
}

.daily {
    display: grid;
}

.dailyImg {
    display: flex;
    grid-column: 1;
    height: 100%;
}

.dailyDesc {
    display: flex;
    grid-column: 2;
    height: 100%;
}
