{% extends "base.html" %} {% block content %}

<body>
	<div class="s009">
		<form method="POST" action="{{ url_for('customfetch') }}">
			<div class="inner-form">
				<div class="basic-search">
					<div class="input-field">
						<input type="text" name="keyword" placeholder="Search by keyword">
					</div>
				</div>
				<div class="advance-search">
					{% for el in forms_data %}
					<br>
						<!-- START SELECT INPUT -->
						<div class="{{ el[0] }}">
							<input type="text" id="{{ el[0] }}Input" onkeyup="myFunction('{{ el[0] }}')"
								placeholder="Search a {{ el[0] }}" class="form-control">
							<select id="{{ el[0] }}Select" name="{{ el[0] }}" class="custom-select">
								<option></option>
								{% for values in el[1] %}
									<option><a href="#{{ values[0] }}">{{ values[1] }}</a></option>
								{% endfor %}
							</select>
						</div>
						<!-- END SELECT INPUT -->
					{% endfor %}
					<br><br>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<script>
		function myFunction(id_name) {
			var input, filter, select, option, a, i, txtValue;
			input = document.getElementById(id_name + "Input");
			filter = input.value.toUpperCase();
			select = document.getElementById(id_name + "Select");
			options = select.getElementsByTagName("option");
			for (option of options) {
				txtValue = option.text
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					option.style.display = "";
				} else {
					option.style.display = "none";
				}
			}
		}
	</script>

	{% endblock %}