{% extends "base.html" %} {% block content %}

<body>
    <div class="fav">
        <h1 class="favTitle">Vos Favoris</h1>
    </div>

    <section class="listFav container">
        {% for i in favorites[] %}
        <div class="favItem" id="{{ favorites[i][0] }}">
            <div class="favImg">
                <div class="like liked" onclick="toggleLikeFav()" style="background-image: url({{ favorites[i][1] }});"></div>
                </div>
            </div>
            <div class="favInfo">
                <div class="favItemTitle">{{ favorites[i][2] }}</div>
                <div class="favAuthor">{{ favorites[i][3] }}</div>
            </div>
        </div>
        {% endfor %}

    </section>
    {% endblock %}