{% extends "base.html" %} {% block content %}

<body>
    <div class="fav">
        <h1 class="favTitle">Vos Favoris</h1>
        {% if favorites %}
        <a href="{{ url_for('cleanHistory') }}">Supprimer tout vos favoris</a> {% endif %}
    </div>
    {% if favorites %} {% for favorite in favorites %}
    <div class="imgContainer">
        <div class="imgItem" id="{{ favorite[0] }}" onclick="imgFS(this.id)" style="background-image: url({{ favorite[1] }});"></div>
    </div>
    {% endfor %} {% else %}
    <p>Aucun favoris.</p>
    {% endif %} {% endblock %}