{% extends "base.html" %} {% block content %}

<body>
    <div class="fav">

        <h1 class="favTitle">Votre Historique</h1>
        {% if history %}
        <a href="{{ url_for('cleanHistory') }}">Effacer votre historique</a>
        {% endif %}
    </div>
        {% if history %}
        {% for item in history %}
            <div class="imgContainer">
                <div class="imgItem" id="{{ item[0] }}" onclick="imgFS(this.id)" style="background-image: url({{ item[1] }});"></div>
            </div>
        {% endfor %}
        {% else %}
            <p>Historique vide.</p>
        {% endif %}
    {% endblock %}