<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harv'Art</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>

<body>
    <section class="nav">
        <a class='signIn' href="">Connectes toi avec ton doigt</a>
    </section>

    <section class="main">
        <div class="mainTitle">
            <h1>Harv'Art</h1>
        </div>
        <div class="containerCarrousel">
            <div class="carrousel"></div>
        </div>
        <div class="containerDaily">
            <h2 class="dailyTitle">L'image du jour (la poésie Owainienne)</h2>
            <div class="daily">
                <div class="dailyImg">

                </div>
                <div class="dailyDesc">

                </div>
            </div>
        </div>
    </section>


    <section class="search-filter">
        <form action="">
            <input type="search">
            <i class="fa fa-search"></i>
        </form>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>