{% extends "base.html" %} {% block content %}

<body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
    <p class="msg alert">{{msg}}</p>
    {% endfor %} {% endif %} {% endwith %}
    <section class="main mt-5 mb-5">
        <div class="mainTitle mt-5">
            <h1>Harv'Art</h1>
        </div>
        <div class="containerCarrousel">
            <div class="carrousel"></div>
        </div>
        <div class="containerDaily">
            <h2 class="dailyTitle">La poésie Owainienne du jour</h2>
            <div class="dailyImg">
                {% if session["userId"] %}
                    <div class="like notLiked" onclick="toggleLike()"></div>
                {% endif %}
            </div>
            <div class="dailyDesc">
                <p></p>
            </div>
        </div>
    </section>
    {% endblock %}