{% extends "base.html" %} {% block content %}

<body>

    <div class="s009">
        <form>
            <div class="inner-form">
                <div class="basic-search">
                    <div class="input-field">
                        <input id="search" type="text" placeholder="Mots clés" />
                    </div>
                </div>
                <div class="advance-search">
                    <span class="desc">Recherche avancée</span>
                    <div class="row">
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="choices-single-defaul">
                                    <option placeholder="" value="">Catégories</option>
                                    <option>Peinture</option>
                                    <option>Image</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="choices-single-defaul">
                                    <option placeholder="" value="">Taille</option>
                                    <option>Petite</option>
                                    <option>Moyenne</option>
                                    <option>Grandes</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="choices-single-defaul">
                                    <option placeholder="" value="">Choix 3</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row third">
                        <div class="input-field">
                            <div class="result-count">
                                <span>108 </span>results</div>
                            <div class="group-btn">
                                <button class="btn-delete" id="delete">RESET</button>
                                <button class="btn-search">RECHERCHER</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="api-results">

        <img class="api-picture" src="" alt="">

    </div>



    <script src="js/extention/choices.js"></script>
    <script>
        const customSelects = document.querySelectorAll("select");
        const deleteBtn = document.getElementById('delete')
        const choices = new Choices('select', {
            searchEnabled: false,
            itemSelectText: '',
            removeItemButton: true,
        });
        deleteBtn.addEventListener("click", function (e) {
            e.preventDefault()
            const deleteAll = document.querySelectorAll('.choices__button')
            for (let i = 0; i < deleteAll.length; i++) {
                deleteAll[i].click();
            }
        });
    </script>

    {% endblock %}